*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header, footer, nav{
    border:1px solid black;
    display: block;
}
header{
    background: #282828;
    color: #ffffff;
    font-size: 11px;
}
footer{
    background: #282828;
    color: #ffffff;
    font-size: 11px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



#cabecera-superior{
    text-align: center;
}
#cabecera-inferior{
    text-align: center;
}

#cabecera-superior li{
    list-style: none;
    padding: 5px;
    display: inline-block;
}
nav{
    background: #282828;
    font-size: 11px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
#nav li{
    list-style: none;
    padding: 5px;
    text-align: left;
    font-size:12px;
    display: inline-block;
}
#nav a{
    color: #ffffff;
}

#logo{
    width: 15%;
    height: auto;
}

