* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

#cabecera-superior{
    text-align: left;
    background: #333;
    display: block;
}

#cabecera-superior li{
    display: inline;
    text-align: left;
    font-size: 9px;
}

#cabecera-superior li a{
    text-decoration: none;
    color: white;
}

#cabecera-superior li a i{
    display: inline;
    color: white;
    padding: 0;
}

#cabecera-inferior{
    text-align: center;
    background: #566573;
    font-size: 11px;
    font-weight: 800;
    padding: 8px;
}
#navegacion{
   list-style-type: none;
   background: #333;
   margin: 0;
   padding: 0;
   overflow: hidden;
}   

#nav{
    list-style-type:none; 
    margin-left: 350px;
}
nav li{
    float: left;
}

nav li a{
    display: block;
    color: white ;
    font-weight: 800;
    font-size: 11px;
    padding: 42px 30px;
    text-decoration: none;
}
img{
    padding: 14px 30px;
    text-align: left;
    width: 300px;
}

footer{
    display: inline;
    padding: 14px 16px;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0;
    font-size: 11px;
}

footer div{
    padding: 14px 16px;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer div li{
    float: right;
    list-style-type: none;
}

footer div li a{
    display: inline;
    margin: 40px;
    padding: 0;
    font-size: 15px;
}

i{
    color: #333;
}