:root{
  --color1: rgb(219,144,.5);
  --color2: rgba(23,180,83,.0788);
  --color3: rgba(11,194,211,0.623);
  --fondo: #f2f2f2;
  --titulos: 25px;
  --subtitulos:15px;
  --margenes: 60px;
  --espacios: 10px;
  --espacio-contenido: 45px;
}

*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background: var(--fondo);
}
img{
  vertical-align: top;
}
/*Preload*/
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #232323;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*HEADER*/
header{
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom,
  rgba(211,135,20,.6),
  rgba(29,241,171,.6),
  rgba(7,109,150,.45)
  ), url(../img/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/*NAV*/
nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
.nav1{
  background: transparent;
  height: 80px;
  color: #ffffff;
}

.nav2{
  background: var(--fondo);
  height: 100px;
  color: #000;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 3px solid #1498a4;
  transition: 0.6s;
}

.logo, .logo img{
  height: 50px;
}

.icono{
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
}

.textos>h1{
  font-size: 45px;
}

.textos>h2{
  font-size: 17px;
  font-weight: 300;
}

/*MAIN*/
.contenedor{
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

.after::after{
  content: '';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacio-contenido);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card{
  width: 40%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
  height: 400px;
}

.content-card:hover{
  width: 41%;
  height: 400px;
}
.proyecto{
  height: 80%;
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  background: gainsboro;
}

.texto-proyecto{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

.texto-proyecto a{
  text-decoration: none;
  color: black;
}

.about{
  background: url(../img/teclado.jpg);
  height: auto;
}

.practicas{
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

.caja-practica{
  width: 30%;
  margin: auto;
  text-align: center;
}
.caja-practica a{
  text-decoration: none; 
  color: var(--color1);

}
.caja-practica h4{
  margin-bottom: var(--espacios);
}

.caja-practica p{
  text-align: center;
}

.botones-study{
  overflow: hidden;
}

.botones-study li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacio-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  list-style: none;
  color: var(--color1);
}

.botones-study li:hover{
  background: var(--color1);
  color: #fff;
  cursor: pointer;
}

.botones-study .active{
  background: var(--color1);
  color: #fff;
}

.galeria-study{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-study{
  width: 31%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  height: 300px;
  margin-bottom: var(--espacio-contenido);
}

.img-study{
  height: 90%;
  width: 100%;
}

.img-study img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textos-study{
  height: 10%;
}

.textos-study h4{
  line-height: 30px;
  font-weight: 300;
}

/*FOOTER*/
footer{
  background: url(../img/teclado.jpg);
}

.marca-logo{
  width: 30%;
  margin: auto;
  margin-bottom: var(--espacio-contenido);
}

.marca-logo img{
  width: 100%;
}

.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}
.iconos a{
  text-decoration: none;
  margin-bottom: var(--espacio-contenido);
}
.iconos h3{
  font-size: 15px;
  color: #fff;
}
.fab{
  display: inline-block;
  font-size: 25px;
  color: #fff;
}

footer p{
  margin-top: var(--espacio-contenido);
}

@media screen and (max-width: 750px){
  .nav2{
    color:  #fff;
  }

  .icono{
    display: block;
    cursor: pointer;
  }

  .enlaces{
    position: fixed;
    top: 80px;
    background: #2c3e50;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #34495e;
    color: #fff;
  }

  .textos>h1{
    font-size: 30px;
  }
  .textos>h2{
    font-size: 17px;
  }
  .content-card{
    margin-bottom: var(--margenes);
  }

  :root{
    --margenes: 30px;
  }
}

@media screen and (max-width: 500px){
  :root{
    --espacios-contenido: 25px;
  }

  .content-card{
    width: 90%;
  }
  .caja-practica{
    width: 90%;
    margin-bottom: var(--margenes);
  }
  .content-card:hover{
    width: 93%;
    
  }
  .cont-study{
    width: 85%;
  }
  .marca-logo{
    width: 70%;
  }

  .iconos{
    margin: auto;
  }
}