*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(/portal/img/cordoba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    background: #333;
    height: 80px;
    width: 100%;
}

label.logo{
    color: #fff;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul  li{
    display: inline-block;
    
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

.active:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

h2{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}
