*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1{
    font-size: 25px;
    margin: 10px;
}

p{
    font-size: 15px;
    margin: 10px;
}

img{
    display: block;
    margin: 35px;
    width: 30%;
    -webkit-filter: blur();
    -moz-filter: blur();
    -o-filter: blur();
    -ms-filter: blur();
    filter: blur(5px);
}

footer{
    text-align: center;
}