*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font: bold 14px sans-serif;
}
header, section, footer, aside, nav, article, hgroup{
    display: block;
}
body{
    text-align: center
}
.agrupar{
    width: 85em;
    margin: 20px auto;
}
.cabecera{
    background: #333333;
}
.cabecera img{
    width: 20em;
    height: 7em;
}
.menu{
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    background: #ffffff;
    padding: 5px 15px;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}
.menu a{
    color: #333333;
    text-decoration: none;
}
.menu a:hover{
    color: #fbc531;
    text-decoration: none;
}
.seccion{
    margin-left: 6em;
    width: 55em;
    float: left;
}
article{
    padding: 20px;
    margin-bottom: 15px;
}
.parrafo{
    text-align: left;
}

article footer{
    text-align: right;
    margin-top: 20px
}

.columna{
    width: 10em;
    float: right;
    margin-right: 4em;
}
.columna ul{
    list-style: none;
}
.pie{
    clear: both;
    padding: 10px;
    background: #333333;
    color: #ffffff;
}

img{
    width: 80px;
    display: block;
    margin: auto;
}